## Lecture 3 Demos ##

In [1]:
from datascience import *
import numpy as np

## Review of Numbers ##

In [2]:
4 * 5 # int

20

In [3]:
4/5 # float

0.8

In [ ]:
5/5

In [4]:
4 // 5

0

In [ ]:
type(4/5)

In [ ]:
type(5)

In [5]:
10/3

3.3333333333333335

In [6]:
int(4/5)

0

In [7]:
//?

SyntaxError: invalid syntax (2114508944.py, line 1)

In [8]:
/?

Object `()` not found.

In [9]:
max?

Docstring:
max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.
Type:      builtin_function_or_method

In [10]:
round(3.5)

4

In [11]:
round(4.5)

4

In [12]:
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

In [13]:
int(6/3)

2

In [ ]:
int(7/2)

In [14]:
6/3

2.0

In [15]:
int(2.0)

2

In [16]:
10 ** 0.5

3.1622776601683795

In [17]:
1234567 ** 890

2805763342107369230793809808310885724030151698643898788380662816980113897853769505682553341995361840866283163839674938063847465098181599413516030923830315020297429114484842472806037601633183177392342419552281446098882333113360498936060689417981060580169581781517081000887466986920196787365735472976637384790660527656183529108057677628812897898917415727467403873251697100284318113613171090832770107627373429297578100452541331137972394395518879748252497629953169189742546688743838014842998797222488578482742255590278830326264415887042424349338336685586108014796843647297854686632059611017792593114133643766176826645471505135284339608286440790108605114687261446214106703238304626747430320283170505623593598192482183253323227473361217459497593514576103139354263910235117552944853835259328240635891089203247501395301794244132584186874755797831852390704417457044048557568618633160284149583340352686512009611975784239859264336878392387482791049156912854159715516214706166214466230037339823780492774337274675800289580696315819494418004733412855205155027918058344891850668473780787520539851110601937177777258527635476258052342827179765186381834973522303136829852834242679559888371990546547773735142872611383102742753311234958929602179017609453450788021576889968090558526946002867067155433937025164603278496325064732080655085967120552122358643425906339419468088785812576641170399781555198518542228755764090812514788163758877228031474626249982320173230513790766211051807071509018394299594496298553425032888639575233308427922962072691110016410832613254845558533479779137394546533348267260208654147664661662489837722166465535984470300130195361526724657999247737664119545166367970118960539653700728246780841243422865927822029745430687779341494835511048331091708435435810632677284968867671217350609932555531424276428454845446681148799804144451127195396670373733155503688440766376117308145231339204514518114182442669726926958460263504747823171357759585770665369994677944653246927717262087721616975390825217507408220510861018634338133464060418295047933927635868626199925788463191380080935701443847346532746838349449833204183719520425273508461427363268810901816439207520602455792069406367821658839121277649227555623273564677301331404339603368354187279170542954088017099056552277230318062383216542056927422226999811205450549485589246237819874869638917303541644714356081602468616512144027808621669917967523298847733280998188849126660410144516840751121177122218727312917235905337333060556516611924333661893530040067042505379294125436401184352256775565463142705637306783871882313794728831427529583150846149427004802322087788357968992264438692993009809883875465518646172470495839410492599060455716367637440364630131471750106709132465895371670412945256073822697903510522211765697295922053593229276419226531331408317896936830655815873666355197305378708964668209899291344705444276333578719323904170952074328643811404544256843025709425474387814973960542018630128201161272329024792011740745530212579878161378961127918038096648026162029808878747866210894432543002029434565613132355043777385763831238060952363449797871761622541777453653784081456719940419766751192867804269268505636574832199689538986715250742630200523490339094085425178568698903268320220973567490288420919261018482168538171910000711992076873681129307598675285503345960161016391830728260326693428202177160119543736800344297771481079627076988031975978575895647654221558620092991884687091862613605722144271490738163190650508558761186844994717152403269557878581184075275936408939256017646715559306260196259010170427037361073267573147026510628695621128132172515464076418742940103113964611681699407950967774413428184355249041334714765827480675899800235537773385443229622067233523354213261412403375030932576886654499317808172035910623439488923497729990034132955991616175315301110003136655552464696428279778365477406164307525011119783055047664864798818426307604172381073695798688377889193415423645042188927398145864445871680431617772823584658707705057426132797633601281478887542871708884776132993498113629791075212269131263135104211901928478309667400642477145201362433365658578707267018122388906853103264797837550314906826327964589811537800151348078278689526492266541600168152334174087551992509222975658050902151573849522445074588731109036554789680280345720046009120507928152632018078697710120218368147570599141031673300682348326156497244011574817802187099834880327346210624556369660018678859929271654108596951193479453034452114779847850504280525490303492730731848704497321639579545359051407002629069912400518470707512308477494989006390249351273561453957767103749105099486859441823499120103359974562095361878219993785312682108204349115081403854873968693651144816992008787094413654541840750267945428940655147102103776877924495354589674471203663800973702240269677784610346010441824261817763592599870546594987128802020889878623694800247575251661439276157008847529529237192162577463356503617323132760079688627706444510425779441871297035026396768851129501722454220316418777074912838238391162658683371634959415544181384058154251960767217101632139258312150904777623156788937309713540569306765232165671618935868039816292110221657560493742908804867952618200515005539316960724088551539133626302522557345413249384658492371698805093289004717340532810196692880918816862832405941920828302568461913904088702147654713878056218117011839094769918168741678648022940613796829566893389100562532347981860917540264049

In [18]:
10 / 3

3.3333333333333335

In [19]:
75892745.215489247589274985712

75892745.21548925

In [20]:
75892745.215489247589274985712 - 75892745.21548925

0.0

In [21]:
(13 ** 0.5) ** 2

12.999999999999998

## Review of Strings ##

In [22]:
"data 8"

'data 8'

In [23]:
data 8

SyntaxError: invalid syntax (2808813228.py, line 1)

In [24]:
data

NameError: name 'data' is not defined

In [25]:
'data' + '8' #concatenation

'data8'

In [26]:
'data ' + '8'

'data 8'

In [27]:
'data'+' '+'8'

'data 8'

In [28]:
'data'*5

'datadatadatadatadata'

In [29]:
'data'*5.5

TypeError: can't multiply sequence by non-int of type 'float'

In [30]:
'data'+5

TypeError: can only concatenate str (not "int") to str

In [31]:
'data' + str(5)

'data5'

In [32]:
int(3.2)

3

In [33]:
int(-3.2)

-3

In [34]:
float(3.2)

3.2

In [35]:
int('3.2')

ValueError: invalid literal for int() with base 10: '3.2'

In [36]:
int('3')

3

In [37]:
type(3.2)

float

In [38]:
str(5)

'5'

In [39]:
5+4

9

In [40]:
'5'+ "4"

'54'

In [41]:
print("Today is " + "9")

Today is 9

In [42]:
a = str(9)
a

'9'

In [43]:
print ("Today is " + a)

Today is 9

In [44]:
'Don't always use single quotes'

SyntaxError: invalid syntax (2648065634.py, line 1)

In [45]:
"Don't always use single quotes"

"Don't always use single quotes"

In [46]:
'straw' + 'berry' # concatenation

'strawberry'

In [47]:
x = 'straw'
y = 'berry'
x + y

'strawberry'

## Types ##

In [48]:
type(45)

int

In [49]:
type(4.5)

float

In [50]:
type('4.5')

str

In [51]:
type(abs)

builtin_function_or_method

In [52]:
type(a)

str

In [53]:
type(True)

bool

In [62]:
from datascience import *
import numpy as np

## Arrays ##

In [54]:
my_array = make_array(1, 2, 3, 4) # inside array, "things" need to be the same type

In [55]:
my_array

array([1, 2, 3, 4])

In [56]:
type(my_array)

numpy.ndarray

In [61]:
make_array?

Signature: make_array(*elements)
Docstring:
Returns an array containing all the arguments passed to this function.
A simple way to make an array with a few elements.

As with any array, all arguments should have the same type.

>>> make_array(0)
array([0])
>>> make_array(2, 3, 4)
array([2, 3, 4])
>>> make_array("foo", "bar")
array(['foo', 'bar'],
      dtype='<U3')
>>> make_array()
array([], dtype=float64)
File:      /shared/centos7/anaconda3/2022.05/envs/ds2000_v2_env/lib/python3.9/site-packages/datascience/util.py
Type:      function

In [57]:
your_array = make_array(1, 2, 3.4)

In [58]:
your_array

array([ 1. ,  2. ,  3.4])

In [59]:
my_array * 2

array([2, 4, 6, 8])

In [60]:
my_array

array([1, 2, 3, 4])

In [63]:
my_array ** 2

array([ 1,  4,  9, 16])

In [64]:
your_array ** 2

array([  1.  ,   4.  ,  11.56])

In [66]:
my_array = my_array ** 2

In [67]:
my_array

array([ 1,  4,  9, 16])

In [68]:
result_array = your_array ** 2
result_array

array([  1.  ,   4.  ,  11.56])

In [69]:
your_array

array([ 1. ,  2. ,  3.4])

In [70]:
my_array.size

4

In [71]:
len(my_array) # second way to get length of array

4

In [72]:
my_array.sum()

30

In [73]:
sum(my_array) # second way to sum array

30

In [74]:
my_array.sum()/my_array.size

7.5

In [75]:
np.average(my_array)  # use numpy average function

7.5

In [76]:
my_array.item(0)

1

In [77]:
my_array.item(1)

4

In [78]:
type(my_array.item(0))

int

In [ ]:
my_array.item(0) # indices start at 0

In [79]:
my_array.item(2)

9

In [80]:
type(your_array.item(0))

float

In [81]:
your_array.item(0)

1.0

In [82]:
my_array + your_array

ValueError: operands could not be broadcast together with shapes (4,) (3,)

In [83]:
new_array = make_array(5, 6, 7, 8)

In [84]:
new_array

array([5, 6, 7, 8])

In [85]:
my_array + new_array

array([ 6, 10, 16, 24])

In [86]:
my_array - new_array

array([-4, -2,  2,  8])

In [87]:
my_array * new_array

array([  5,  24,  63, 128])

In [88]:
my_array

array([ 1,  4,  9, 16])

In [89]:
my_array ** new_array

array([         1,       4096,    4782969, 4294967296])

## Tables ##

In [90]:
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [91]:
cones.show(3)

In [92]:
cones.show()

In [93]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [95]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [96]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [97]:
cones_without_color = cones.select('Flavor', 'Price')
cones_without_color

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [98]:
cones.drop('Color')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [99]:
cones.select('Price', 'Flavor')

Price | Flavor
3.55  | strawberry
4.75  | chocolate
5.25  | chocolate
5.25  | strawberry
5.25  | chocolate
4.75  | bubblegum

In [100]:
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25
chocolate | dark brown  | 5.25

In [101]:
cones.sort('Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [102]:
cones.sort('Price', descending=True)

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

In [103]:
cones.sort('Price', descending)

NameError: name 'descending' is not defined

### A more interesting table

In [104]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

name                              | material  | city          | height | completed
One World Trade Center            | composite | New York City | 541.3  | 2014
Willis Tower                      | steel     | Chicago       | 442.14 | 1974
432 Park Avenue                   | concrete  | New York City | 425.5  | 2015
Trump International Hotel & Tower | concrete  | Chicago       | 423.22 | 2009
Empire State Building             | steel     | New York City | 381    | 1931
Bank of America Tower             | composite | New York City | 365.8  | 2009
Stratosphere Tower                | concrete  | Las Vegas     | 350.22 | 1996
Aon Center                        | steel     | Chicago       | 346.26 | 1973
John Hancock Center               | steel     | Chicago       | 343.69 | 1969
WITI TV Tower                     | steel     | Shorewood     | 329    | 1962
... (190 rows omitted)

In [105]:
skyscrapers.show()

In [106]:
skyscrapers.select('name', 'height')

name                              | height
One World Trade Center            | 541.3
Willis Tower                      | 442.14
432 Park Avenue                   | 425.5
Trump International Hotel & Tower | 423.22
Empire State Building             | 381
Bank of America Tower             | 365.8
Stratosphere Tower                | 350.22
Aon Center                        | 346.26
John Hancock Center               | 343.69
WITI TV Tower                     | 329
... (190 rows omitted)

In [107]:
skyscrapers.select('height', 'name')

height | name
541.3  | One World Trade Center
442.14 | Willis Tower
425.5  | 432 Park Avenue
423.22 | Trump International Hotel & Tower
381    | Empire State Building
365.8  | Bank of America Tower
350.22 | Stratosphere Tower
346.26 | Aon Center
343.69 | John Hancock Center
329    | WITI TV Tower
... (190 rows omitted)

In [108]:
skyscrapers

name                              | material  | city          | height | completed
One World Trade Center            | composite | New York City | 541.3  | 2014
Willis Tower                      | steel     | Chicago       | 442.14 | 1974
432 Park Avenue                   | concrete  | New York City | 425.5  | 2015
Trump International Hotel & Tower | concrete  | Chicago       | 423.22 | 2009
Empire State Building             | steel     | New York City | 381    | 1931
Bank of America Tower             | composite | New York City | 365.8  | 2009
Stratosphere Tower                | concrete  | Las Vegas     | 350.22 | 1996
Aon Center                        | steel     | Chicago       | 346.26 | 1973
John Hancock Center               | steel     | Chicago       | 343.69 | 1969
WITI TV Tower                     | steel     | Shorewood     | 329    | 1962
... (190 rows omitted)

In [109]:
skyscrapers.where('city', 'San Francisco')

name                  | material  | city          | height | completed
Transamerica Pyramid  | composite | San Francisco | 260    | 1972
555 California Street | steel     | San Francisco | 237.44 | 1969
345 California Center | steel     | San Francisco | 211.84 | 1986
Millennium Tower      | concrete  | San Francisco | 196.6  | 2009

In [110]:
skyscrapers.where('city', 'Chicago')

name                              | material       | city    | height | completed
Willis Tower                      | steel          | Chicago | 442.14 | 1974
Trump International Hotel & Tower | concrete       | Chicago | 423.22 | 2009
Aon Center                        | steel          | Chicago | 346.26 | 1973
John Hancock Center               | steel          | Chicago | 343.69 | 1969
The Franklin - North Tower        | composite      | Chicago | 306.94 | 1989
Two Prudential Plaza              | concrete       | Chicago | 303.28 | 1990
311 South Wacker Drive            | concrete       | Chicago | 292.92 | 1990
900 North Michigan Avenue         | concrete/steel | Chicago | 265    | 1989
Water Tower Place                 | concrete       | Chicago | 261.88 | 1976
Aqua                              | concrete       | Chicago | 261.75 | 2009
... (26 rows omitted)

In [111]:
skyscrapers.sort('completed')

name                    | material | city          | height | completed
Metropolitan Life Tower | steel    | New York City | 213.36 | 1909
Woolworth Building      | steel    | New York City | 241.4  | 1913
Terminal Tower          | steel    | Cleveland     | 215.8  | 1928
Chanin Building         | steel    | New York City | 197.8  | 1929
Mercantile Building     | steel    | New York City | 192.6  | 1929
Chrysler Building       | steel    | New York City | 318.9  | 1930
The Trump Building      | steel    | New York City | 282.55 | 1930
One Grand Central Place | steel    | New York City | 205.13 | 1930
Empire State Building   | steel    | New York City | 381    | 1931
Twenty Exchange         | steel    | New York City | 225.86 | 1931
... (190 rows omitted)

In [112]:
skyscrapers.sort('completed').select('completed')

completed
1909
1913
1928
1929
1929
1930
1930
1930
1931
1931
... (190 rows omitted)

In [113]:
skyscrapers.sort('completed').select('completed').item(0)

/shared/centos7/anaconda3/2022.05/envs/ds2000_v2_env/lib/python3.9/site-packages/datascience/tables.py:305: FutureWarning: Implicit column method lookup is deprecated.
  warnings.warn("Implicit column method lookup is deprecated.", FutureWarning)

completed
1909

In [ ]:
new_table = skyscrapers.select('name', 'height')
new_table

In [ ]:
skyscrapers

In [114]:
type(skyscrapers)

datascience.tables.Table

In [115]:
skyscrapers.drop('material')

name                              | city          | height | completed
One World Trade Center            | New York City | 541.3  | 2014
Willis Tower                      | Chicago       | 442.14 | 1974
432 Park Avenue                   | New York City | 425.5  | 2015
Trump International Hotel & Tower | Chicago       | 423.22 | 2009
Empire State Building             | New York City | 381    | 1931
Bank of America Tower             | New York City | 365.8  | 2009
Stratosphere Tower                | Las Vegas     | 350.22 | 1996
Aon Center                        | Chicago       | 346.26 | 1973
John Hancock Center               | Chicago       | 343.69 | 1969
WITI TV Tower                     | Shorewood     | 329    | 1962
... (190 rows omitted)

In [116]:
skyscrapers.drop('material', 'height')

name                              | city          | completed
One World Trade Center            | New York City | 2014
Willis Tower                      | Chicago       | 1974
432 Park Avenue                   | New York City | 2015
Trump International Hotel & Tower | Chicago       | 2009
Empire State Building             | New York City | 1931
Bank of America Tower             | New York City | 2009
Stratosphere Tower                | Las Vegas     | 1996
Aon Center                        | Chicago       | 1973
John Hancock Center               | Chicago       | 1969
WITI TV Tower                     | Shorewood     | 1962
... (190 rows omitted)

In [ ]:
skyscrapers.where('city', 'San Francisco')

In [117]:
skyscrapers.where('city', 'San Francisco').sort('height')

name                  | material  | city          | height | completed
Millennium Tower      | concrete  | San Francisco | 196.6  | 2009
345 California Center | steel     | San Francisco | 211.84 | 1986
555 California Street | steel     | San Francisco | 237.44 | 1969
Transamerica Pyramid  | composite | San Francisco | 260    | 1972

In [118]:
sf_buildings = skyscrapers.where('city', 'San Francisco')
sf_buildings

name                  | material  | city          | height | completed
Transamerica Pyramid  | composite | San Francisco | 260    | 1972
555 California Street | steel     | San Francisco | 237.44 | 1969
345 California Center | steel     | San Francisco | 211.84 | 1986
Millennium Tower      | concrete  | San Francisco | 196.6  | 2009

In [119]:
sf_buildings.sort('height')

name                  | material  | city          | height | completed
Millennium Tower      | concrete  | San Francisco | 196.6  | 2009
345 California Center | steel     | San Francisco | 211.84 | 1986
555 California Street | steel     | San Francisco | 237.44 | 1969
Transamerica Pyramid  | composite | San Francisco | 260    | 1972

In [120]:
sf_buildings.sort('name')

name                  | material  | city          | height | completed
345 California Center | steel     | San Francisco | 211.84 | 1986
555 California Street | steel     | San Francisco | 237.44 | 1969
Millennium Tower      | concrete  | San Francisco | 196.6  | 2009
Transamerica Pyramid  | composite | San Francisco | 260    | 1972

In [121]:
sf_buildings.sort('name', descending=True)

name                  | material  | city          | height | completed
Transamerica Pyramid  | composite | San Francisco | 260    | 1972
Millennium Tower      | concrete  | San Francisco | 196.6  | 2009
555 California Street | steel     | San Francisco | 237.44 | 1969
345 California Center | steel     | San Francisco | 211.84 | 1986

In [122]:
 skyscrapers.where('city', 'San Francisco').sort('name', descending=True)

name                  | material  | city          | height | completed
Transamerica Pyramid  | composite | San Francisco | 260    | 1972
Millennium Tower      | concrete  | San Francisco | 196.6  | 2009
555 California Street | steel     | San Francisco | 237.44 | 1969
345 California Center | steel     | San Francisco | 211.84 | 1986

In [123]:
 skyscrapers.where('city', 'San Francisco').sort('name', descending=True).drop('city')

name                  | material  | height | completed
Transamerica Pyramid  | composite | 260    | 1972
Millennium Tower      | concrete  | 196.6  | 2009
555 California Street | steel     | 237.44 | 1969
345 California Center | steel     | 211.84 | 1986

In [124]:
 skyscrapers.where('city', 'San Francisco').drop('city').sort('name', descending=True)

name                  | material  | height | completed
Transamerica Pyramid  | composite | 260    | 1972
Millennium Tower      | concrete  | 196.6  | 2009
555 California Street | steel     | 237.44 | 1969
345 California Center | steel     | 211.84 | 1986